In [24]:
import pandas as pd
import numpy as np

In [3]:
data_dir = '/Users/annagreene/code/district-comparison/data/'

In [4]:
mapping = pd.read_csv(data_dir + 'final_mapping.csv')
raw_dist = pd.read_csv(data_dir + 'raw/arizonaExample.csv')

In [19]:
raw_dist["Object_code"] = 0
raw_dist["Object_code"] = raw_dist.Account.str.split(".").str[3]
dist = raw_dist[raw_dist['Account Type']=="EXPENDITURE"]
dist = dist.drop(columns=['Active', 'Account', 'Description', 'Account Type', 'Budget Control Group', 'Budget', 'Budget Balance','Balance', 'Encumbrance', 'Pre Encumbrance', 'Pending Invoices', 'Uncommitted Balance'])
replace = [',', '$', '-', '(', ')']
dist['YTD Transactions'] = dist['YTD Transactions'].str.translate({ord(x): '' for x in replace}).astype(float)
dist = dist.groupby(['Object_code'])['YTD Transactions'].sum().reset_index()
dist = dist.rename(columns={'YTD Transactions': 'Transactions'})
dist = dist.round(2)
dist

    Object_code  Transactions
0          6000          0.00
1          6100          0.00
2          6101          0.00
3          6103          0.00
4          6110       8002.11
..          ...           ...
181        6890     455508.18
182        6891          0.00
183        6892          0.00
184        6893          0.00
185        6899          0.00

[186 rows x 2 columns]

In [31]:
test = pd.read_csv(data_dir + 'raw/atlantaExample.csv')
#df[~df.C.str.contains("XYZ")]
test = test[~test.DESCRIPTION.str.contains('TOTAL')]
test = test.drop(columns=['Unnamed: 1', 'DESCRIPTION'])
test = test.rename(columns={'ACCOUNT': 'Object_code', ' AMOUNT ': 'Transactions'})
replace = [',', '$', '-', '(', ')']
test['Transactions'] = test['Transactions'].str.translate({ord(x): '' for x in replace})
test['Transactions'] = np.double(test['Transactions'])
test = test.groupby(['Object_code'])['Transactions'].sum().reset_index()
test = test.round(2)
test['Object_code'] = test['Object_code'].str[5:8]
test

    Object_code  Transactions
0           110  2.251407e+08
1           112  5.384203e+06
2           113  5.213302e+06
3           114  4.642783e+05
4           115  1.648250e+05
..          ...           ...
424         720  9.854306e+07
425         730  1.102546e+07
426         930  2.556686e+08
427         830  4.436342e+06
428         831  1.520349e+06

[429 rows x 2 columns]